

<h1>I'm Andy.</h1>

<h2>I'm 22.</h2>
<h2>Skills:</h2>

<ul>
  <% @skills.each do |skill| %>
    <li> <%= skill %> </li>
  <% end %>
</ul>
<h2>Interests:</h2>

<ul>
  <% @interests.each do |skill| %>
    <li> <%= skill %> </li>
  <% end %>
</ul>
